body {
    color : #113;
}

.bg-orange {
    background-color: #dad2e9;
}

.btn{
    background-color: #dad2e9;
}

.block{
   /* top: 50%;
    left: 50%;*/
    /*margin-left: auto;
    margin-right: auto;*/
    padding: 30px;
    margin: 5px;
    background-color: #dad2e9;
    height: 900px;
    width: 900px;
   /* background-position: 50% 50%;*/
    background-position-x: center;
    border-radius: 15px;
}

.cakeblock{
    padding: 30px;
    margin: 10px;
    background-color: #dad2e9;
    /*//background-position-x: center;*/
    width: 600px;
}


.width_container{
    width: 300px;
}

.width_container2{
    width: 500px;
}

.width_container4{
    width: 650px;
}

.width_container3{
    width: 100px;
}

.containerw{

    width: 700px;
}

::-webkit-calendar-picker-indicator {
    color: transparent;
    opacity: 1;
    background: url(//www.gravatar.com/avatar/cbfaff96665b7567defe1b34a883db8b?s=16&d=identicon&r=PG) no-repeat center;
    background-size: contain;
}